@import "tailwindcss";

@theme {
  --color-primary: #0f172a;
  --color-secondary: #eab308;
  --color-secondary-hover: #ca8a04;
  --color-accent: #ea580c;
}

body {
  background-color: var(--color-primary);
  color: #f1f5f9;
  font-family: 'Inter', 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

::selection {
  background-color: var(--color-secondary);
  color: #0f172a;
}
